body {
    margin: 0;
    font-family: Copperplate, fantasy;
}

.custom-title {
    font-size: 60px;
}

.main-div {
    margin-left: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.sample-box {
    height: 200px;
    width: 200px;
}

.navbar {
    background-color: lightblue;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-element {
    margin-left: 20px;
    margin-right: 10px;
}

.description {
    font-weight: bold;
    color: grey;
}

.contents {
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    background-color: lightblue;
}

.picture {
    width: 150px;
    border-radius: 10px;
}

.row-image-next {
    display: flex;
    flex-direction: row;
}
.img-desc {
    margin-left: 10px;
}

.descriptive-text {
    font-family: "Helvetica", sans-serif;
}

.price {
    font-size: 30px;
    text-align: end;
}